if [ "$(w3m -version 2&>/dev/null; echo $?)" -eq '0' ]; then
    export BROWSER=w3m
else
    echo -en """
w3m not found.

[ hit any key to continue to install ]

"""
    read -n 1
    sudo apt update -y && sudo apt install w3m -y
    export BROWSER=w3m
fi


if [ $BASH ]; then
    bind '"\C-k":"Google.com\n"'
elif [ $ZSH ]; then
    bindkey -s '\C-k' 'Google.com\n'
fi
