def installw3m(){
	if [ "$HOME" == "/data/data/com.termux/files/home" ]; then
		pkg update -y && pkg install w3m -y;
	else;
		sudo apt-get update -y && sudo apt-get install w3m -y;
	fi
}


if [ "$(w3m --version 2&>/dev/null; echo $?)" -eq '0' ]; then
    export BROWSER=w3m
else
    echo -en """
w3m not found.

[ hit any key to continue to install ]

"""
	read -n 1
	installw3m
	export BROWSER=w3m
	unset installw3m
fi


if [ $BASH ]; then
    bind '"\C-k":"Google.com\n"'
elif [ $ZSH ]; then
    bindkey -s '\C-k' 'Google.com\n'
fi
